# Database PostgreSQL
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"

# NextAuth
AUTH_SECRET="your-super-secret-key-change-this-in-production-minimum-32-chars"
AUTH_URL="http://localhost:3000"

# Unsplash API (https://unsplash.com/developers)
NEXT_PUBLIC_UNSPLASH_ACCESS_KEY="your-unsplash-access-key"
UNSPLASH_SECRET_KEY="your-unsplash-secret-key"
